<!DOCTYPE html>
<html lang="en">

  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static "logos/logo-blue.svg" %}"/>

    <title>Reconstruct3D</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "bootstrap/css/bootstrap3.min.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery.fileupload.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery.fileupload.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery.fileupload-ui.css" %}" rel="stylesheet">
    <link href="{% static "css/blueimp-gallery.min.css" %}" rel="stylesheet">
    <style type="text/css" media="screen">
        @media (min-width: 768px) {
        .navbar-brand.abs
            {
                position: absolute;
                width: 100%;
                left: 0;
                text-align: center;
            }
        }

        #result {
            background-color:lightyellow;
            position: relative;
            text-align: middle;
            height: 300px;
            display: none;
        }

        .row-centered {
            overflow-x:hidden;
            text-align:center;
        }

        .navbar-default {
            background-color: #97bdfc;
            border-color: #7cadff;
        }

        . navbar-nav .active {
            background-color: #97bdfc;
            border-color: #7cadff;
        }

        .navbar-default .navbar-nav > .active > a,
        .navbar-default .navbar-nav > .active > a:hover,
        .navbar-default .navbar-nav > .active > a:focus {
            color: #555;
            background-color: #6ba0f9;
        }

}


@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}    </style>

  </head>

  <body>
    <script src="{% static "jquery/jquery.min.js" %}"></script>
    <script src="{% static "js/spin.js" %}"></script>
    <script src="{% static "js/jquery.spin.js" %}"></script>
    <script src="{% static "js/jquery.ui.widget.js" %}"></script>
    <script src="{% static "js/tmpl.min.js" %}"></script>
    <script src="{% static "js/load-image.all.min.js" %}"></script>
    <script src="{% static "js/canvas-to-blob.min.js" %}"></script>
    <script src="{% static "js/jquery.blueimp-gallery.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap3.min.js" %}"></script>
    <script src="{% static "js/jquery.fileupload.js" %}"></script>
    <script src="{% static "js/jquery.fileupload-process.js" %}"></script>
    <script src="{% static "js/jquery.fileupload-image.js" %}"></script>
    <script src="{% static "js/jquery.fileupload-ui.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>

    <!-- Scripts requried by Three.js -->
    <script src="{% static "js/threejs/three.js" %}"></script>
    <script src="{% static "js/threejs/PLYLoader.js" %}"></script>
    <script src="{% static "js/threejs/Detector.js" %}"></script>
    <script src="{% static "js/threejs/OrbitControls.js" %}"></script>

    <!-- Navigation -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand abs" href="#">3D Reconstruction from Video</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="how-it-works">How it Works?</a></li>
            <li><a href="contact">Team</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Page Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 class="mt-5">Reconstruction Procedure</h1>
          <div class="text-center">
              <div class="col-lg-8 col-md-offset-2">
                  <p class="text-center">To start off the reconstruction process, a user provides an image
                    sequence of the real 3-dimensional world. This is sent off to our server for computation
                    of its 3-dimensional model using epipolar geometry techniques.
                    Once the server has finished its computation, the
                    reconstructed 3D model can be viewed using an interactive viewer.
                  </p>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <h1>Upload Images</h1>
        <br>
        <blockquote>
            <p>Provide a list of images to perform the reconstruction. Supported formats: JPG, PNG.</p>
        </blockquote>
        <br>
        <!-- The file upload form used as target for the file upload widget -->
        <!-- Single button -->
        <form id="fileupload" action="/reconstructor/perform" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
            <div class="row fileupload-buttonbar">
                <div class="col-lg-7">
                    <!-- The fileinput-button span is used to style the file input field as button -->
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add files...</span>
                        <input type="file" name="files[]" multiple>
                    </span>
                    <button type="submit" class="btn btn-primary start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start upload</span>
                    </button>
                    <button type="reset" class="btn btn-warning cancel">
                        <i class="glyphicon glyphicon-ban-circle"></i>
                        <span>Cancel upload</span>
                    </button>
                    <button type="button" class="btn btn-danger delete">
                        <i class="glyphicon glyphicon-trash"></i>
                         <span>Delete</span>
                    </button>
                    <input type="checkbox" class="toggle">
                    <!-- The global file processing state -->
                    <span class="fileupload-process"></span>
                </div>
                <!-- The global progress state -->
                <div class="col-lg-5 fileupload-progress fade">
                    <!-- The global progress bar -->
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                    </div>
                    <!-- The extended global progress state -->
                    <div class="progress-extended">&nbsp;</div>
                </div>
            </div>
            <!-- The table listing the files available for upload/download -->
            <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
        </form>
        <div  id="dataset" class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Choose an existing point cloud <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a id="herz_dataset" href="#">Herz-jesus-p8</a></li>
            <li><a href="#">Fountain-p11</a></li>
            <li><a href="#">Entry-p10</a></li>
          </ul>
        </div>

        <br/><br/>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Notes</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>You can <strong>drag &amp; drop</strong> files from your desktop on this webpage</li>
                    <li>The maximum file size for uploads is <strong>999 KB</strong></li>
                    <li>Only image files (<strong>JPG, PNG</strong>) are allowed</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" id="result">
        <h1>Result</h1>
    </div>

    <script id="template-upload" type="text/x-tmpl">
        <tr class="template-upload fade">
            <td>
                <span class="preview"></span>
            </td>
            <td>
                <p class="name">{{ file.name }}</p>
                <strong class="error text-danger"></strong>
            </td>
            <td>
                <p class="size">Processing...</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </td>
            <td>
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            </td>
        </tr>
    </script>

    <script type="text/javascript">
        $(function () {
            $('.toggle').change(function () {                
                $('#dataset').toggle(this.checked);
            }).change(); //ensure visible state matches initially
        });

        $("#herz_dataset").click(function(e) {
            // Display the ply file.
            $('#result').show()
            plyFileName = 'new_colored.ply'
            $.getScript("/static/js/render-point-cloud.js", function(){
            });

            // $.ajax({
            //     type: "GET",
            //     url: "/dataset/test/",
            //     data: { 
            //         id: $(this).val(), // < note use of 'this' here
            //         access_token: $("#access_token").val() 
            //     },
            //     success: function(result) {
            //         alert('ok');
            //     },
            //     error: function(result) {
            //         alert('error');
            //     }
            // });
        });
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
    <p>File uploaded successfully!</p>
    </script>
    <!-- Bootstrap core JavaScript -->

  </body>

</html>
